## Java
*.class

## Maven
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
.mvn/
target/

## Node
npm-debug.log*
bower_components/
node_modules/

## Eclipse
*.bak
*.launch
*.swp
*.tmp
*~.nib
.classpath
.loadpath
.metadata
.project
.recommenders
.settings/
bin/
local.properties
tmp/

## JetBrains
.idea/

## VSCode
.vscode/

## Packages
*.7z
*.ear
*.jar
*.rar
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz
*.tgz
*.war
*.zip

## Misc
*.DS_Store
*.log